body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body, h1, h2, h3, p, ul, li {
  padding: 0;
  margin: 0;
}

li {
  list-style-position: inside;
}

a {
  color: #000000;
  font-size: 0.9em;
  font-style: italic;
}

.top {
  background: #FFE14C;
  padding: 1em;
}

.section, .job {
  padding: 1em 2em;
}

.section h2 {
  display: inline-block;
  font-size: 20px;
  color: #FFFFFF;
  background: #000000;
  margin: 0.4em 0;
  padding: 0.2em 0.4em;
}

.section p {
  margin: 0.3em;
}

.section h3 {
  margin-bottom: 0.4em;
}

.job h3 {
  font-size: 18px;
  margin: 0.4em 0;
}

.company {
  font-weight: 500;
}

.dates {
  color: #6E6B5E;
  margin: 0.4em 0;
}
